@model BankApp.App.Models.ViewModels.HomeViewModel

<h4>Bankens kundlista:</h4>

@foreach (var c in Model.Customers)
{
    <h6>@c.CustomerId, @c.Name</h6>
    <h7>Konton:</h7>
    @foreach (var a in c.Accounts)
    {
        <ul>
            <li>
               @a.AccountId - Saldo: @a.Balance SEK
            </li>
        </ul>
    }

}
